/*roboto-regular
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
roboto-medium
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
roboto-bold
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;


.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #f65282;
  --heading-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
  --link-color: #0d6efd;
}
body {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--heading-font-family);
}
h1 {
  color: var(--primary-color);
  font-size: 72px;
  font-weight: bold;
}
p {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
h2 {
  font-size: 20px;
  color: #f65282;
}
footer {
  background-color: #f8f9fa;
  opacity: 1;
  width: 100%;
}
footer p {
  color: black;
}
.hero {
  background-image: url("../Images/pain.jpg");
  background-size: cover;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}
.hero p {
  text-align: center;
  line-height: 30px;
  padding-left: 60px;
  padding-right: 60px;
}
.about-section {
  padding: 90px 40px 50px 40px;
}
.about-section h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  width: 553px;
  margin-top: 50px;
}
.about-section h2 {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: bold;
  width: 102px;
}
.about-section p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400px;
  width: 580px;
  text-align: justify;
}
.about-section a {
  text-decoration: none;
}
.insta-logo {
  font-size: 53px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
}
.home-container {
  margin-bottom: 80px;
}
.image-profil {
  margin-bottom: 50px;
  width: 463px;
}
.btn-light {
  background-color: var(--primary-color);
  color: #272142;
  font-family: var(--button-font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  padding: 18px 30px;
  border-radius: 50px;
  width: 200px;
}
.btn-branding-outline {
  background-color: var(--primary-color);
  color: #272142;
  font-family: var(--button-font-family);
  border-radius: 50px;
  font-size: 14px;
  line-height: 17px;
  padding: 18px 30px;
  text-align: center;
  width: 175px;
  margin: 0 auto;
  display: block;
}

.project-description h2 {
  font-family: (var(--heading-font-family));
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-top: 110px;
}
.project-description p {
  text-align: justify;
  font-size: 16px;
}
.image-description {
  margin-top: 120px;
}
.image-three {
  margin-top: 80px;
}
.image-projet {
  width: 494px;
  padding-top: 110px;
  padding-left: 90px;
}
.contact-me {
  text-align: center;
  margin-bottom: 80px;
}
.contact-me h5 {
  color: #ffffff;
}
.contact-me p {
  color: var(--link-color);
  text-decoration: underline;
}
.products-title {
  font-size: 72px;
  margin-top: 90px;
  text-align: center;
}
.products-paragraphs {
  text-align: center;
}
.products-section a {
  text-decoration: none;
}
.size-products-image img {
  width: 360px;
  height: 350px;
  border-radius: 12px;
}
.products-logo {
  margin-bottom: 80px;
}
.nav-item {
  padding: 0 15px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 61px;
    margin: 30px 0;
  }
  p {
    font-size: 15px;
  }
  .project-description {
    padding: 30px 0;
    text-align: center;
  }
  .project-description h2 {
    font-family: (var(--heading-font-family));
    font-size: 25px;
    font-weight: bold;
  }
  .project-description p {
    text-align: center;
  }
  .image-profil {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    width: 300px;
  }
  .image-projet {
    padding: 0;
    width: 350px;
    margin: 0 auto;
    display: block;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-section h2 {
    text-align: center;
  }
  .about-section p {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .contact-me {
    margin-top: 30px;
  }
  .size-products-image img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 180px;
    height: 175px;
  }
  .products-title {
    font-size: 50px;
    margin: 30px 0;
  }
  .products-paragraphs {
    font-size: 15px;
    line-height: 20px;
  }
  .products-logo {
    margin-bottom: 30px;
  }
  .nav-item {
    margin-right: 15px;
    width: 100%;
  }
}
